body {
    margin: 0;
    color: aquamarine;
    background-color: cadetblue;
}

.beatmap_image img {
    border-radius: 10px;
}

.beatmap_div {
    width: fit-content;
    display: inline-block;
    margin: 5px;
    padding: 12px;
    border: aqua;
    border-width: medium;
    border-style: solid;
    border-radius: 10px;
    background-color: darkcyan;
}

progress {
    width: 100%;
}

progress[value] {
    appearance: none;
}

progress[value]::-webkit-progress-value {
    background-color: aqua;
    border-radius: 10px;
}
