body {
    margin: 0;
    color: aquamarine;
    background-color: cadetblue;
}

.beatmap_info {
    width: 400px;
    word-wrap: break-word;
    text-wrap: balance;
}

.artist_title {
    margin-bottom: 5px;
}

.beatmap_image img {
    border-radius: 10px;
}

.beatmap_div {
    width: fit-content;
    display: inline-block;
    margin: 5px;
    padding: 12px;
    border: aqua;
    border-width: medium;
    border-style: solid;
    border-radius: 10px;
    background-color: darkcyan;
}

progress {
    width: 100%;
}

progress[value] {
    appearance: none;
}

progress[value]::-webkit-progress-value {
    background-color: aqua;
    border-radius: 10px;
}

progress[value]::-webkit-progress-bar {
    border-radius: 10px;
    background: lightseagreen;
}